h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
}

.twittum-navbar img {
    width: 36px;
    height: 36px;
}

.twittum-header {
    width: 100%;
    height: 500px;

    background-image: linear-gradient(to bottom right, #56CCF2, #2F80ED);
}

.twittum-header h1 {
    text-align: center;
    line-height: 30vh;

    color: white;
    font-weight: bold;
}

.twittum-header img {
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 20px;
}

.twittum-header h3 {
    margin-top: 20px;    
    color: white;
    font-weight: bold;
}

.twittum-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.twittum-btn:hover {
    color:rgb(22, 177, 224);
    background-color:#FFFFFF;
}

.tweet-box {
    background-color: white ;
    margin-top: 30px;
    margin-bottom: 50px;

    border-radius: 10px;
    border-color: #56CCF2;
}

#myTweet {
    font-weight: 500;
}

#tweetTime {
    font-size: 14px;
}

.cr{
    margin-top: 50px;
    text-align: center;
}

.cr p {
    font-size: 18pt;
}

/* FOR SMALLER SCREEN */

@media (max-width: 768px) {

    .twittum-header {
        height: 400px;
    }

    .twittum-header h1 {
        text-align: center;
        line-height: 20vh;

        color: white;
        font-weight: bold;
        font-size: 20pt;
    }

    .twittum-header img {
        margin-top: 20px;
        margin-left: 10vw;
        margin-right: 10px;
    }

    .twittum-navbar img {
        width: 24px;
        height: 24px;
    }

    .twittum-navbar h3 {
        font-size: 24px;
    }

    .cr p {
        font-size: 12pt;
    }
}