h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.cover-bg {
    background-image: linear-gradient(to bottom right, #56CCF2, #2F80ED);
    background-size: cover;
    height: 100vh;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.cover-bg2 {
    background-image: linear-gradient(to bottom right, #2C3A47, #2C3A47);
    background-size: cover;
    height: 100vh;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.twittum-navbar img {
    width: 36px;
    height: 36px;
}

.twittum-navbar h3 {    
    color: white;
    font-weight: bold;
}

.myname {
    text-align: center;
    line-height: 10vh;
    margin-bottom: 40px;

    font-size: 48pt;
}

.about-twittum-dev {
    text-align: center;
    font-size: 18pt;
}

#text1 {
    text-align: center;
    color: rgb(22, 177, 224);
}

#text1-2 {
    text-align: center;
    color: #2C3A47;
}

#text2 {
    text-align: center;
    color: rgb(22, 177, 224);
}

#text2-2 {
    text-align: center;
    color: #2C3A47;
}

#text3 {
    text-align: center;
    color: rgb(22, 177, 224);
}

#text3-2 {
    text-align: center;
    color: #2C3A47;
}

.btn-box {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 1px;
}

.btn-box:active {
    transform: scale(0.97);
}

.content-box {
    display: none;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    font-size: 12pt;
}

.btn-colormode {
    text-align: right;
}

.cr-div {
    position: absolute; 
    bottom: 0; 
    text-align: center;
}

.cr{
    margin-top: 50px;
    text-align: center;
}

.cr p {
    font-size: 18pt;
}

/* FOR SMALLER SCREEN */
@media (max-width: 768px){

    .twittum-navbar img {
        width: 24px;
        height: 24px;
    }

    .twittum-navbar h3 {
        font-size: 24px;
    }

    .about-twittum-dev {
        font-size: 14pt;
        margin-top: 20px;
    }

    .myname {
        text-align: center;
        line-height: 8vh;
        margin-bottom: 20px;

        font-size: 24pt;
    }

    .cover-bg {
        height: 200vh;

        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .cover-bg2 {
        height: 100vh;

        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .cr-div { 
        position: relative; 
        bottom: 0; 
        text-align: center;
    }

    .btn-dark {
        transform: scale(0.8) !important;
    }

    .btn-primary {
        transform: scale(0.8) !important;
    }

}