{% load static %}
<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
    
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="/static/img/twitter hitam putih.png" />

    <title>TWITTUM</title>
</head>

<body>
    <div class="twittum-header col container">
        <div class="row twittum-navbar">
            <img src="/static/img/twitter hitam putih.png" alt="logo">
            <h3 style="margin-right: 80px;">Twittum</h3>
            <a href="{{ link_aboutdev }}">
                <h3 style="text-align: right;">About</h3>
            </a>
            
        </div>
        
        <h1>Hello, How do you do?</h1>

        <!-- Tweet Form -->
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ tweet_form.tweet_text }}
                </div>
                <button type="Submit" class = "twittum-btn">Tweet!</button>
            </form>
        </div>

    </div>

    {% for tweet in your_tweet reversed %}
        <div class="container tweet-box">
            <h4 id="myTweet"> {{ tweet.tweet_text }} </h4>
            <p id="tweetTime"> {{ tweet.tweet_time }} </p>
        </div>
    {% endfor %}


    <!-- COPYRIGHT -->
    <p style="color: black" class="cr">
        <span style="color: black">★</span>
        Iqrar Agalosi Nureyza © 2019
        <span style="color: black">★</span>
    </p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>